{% extends "demo.html" %}
{% block title %}
    Create Customer
{% endblock %}

{% block main %}
        <div class="sect sect--padding-bottom">
            <div class="container">
                <div class="row row--center">
                <h1 class="price-box__title">
                    New <span class="red">{{ item }}</span> Created
                </h1>
                <p class="price-box__people">
                    Click Copy button to copy <span class="blue">{{ content }}</span>
                </p>
                <form id="creation" class="form" action="/customer" method="POST">
                    <input type="hidden" id="hidden" name="hidden" value="{{ content }}">
                    <div class="price-box__btn">
                        <button type="submit" class="btn btn--purple btn--width">Copy</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}