{% extends "demo.html" %}
{% block title %}
    Deletion
{% endblock %}

{% block main %}

        <div class="sect sect--padding-bottom">
            <div class="container">
                <div class="row row--center">
                <div class="price-box__img"></div>
                <h1 class="price-box__title">
                    Confirm <span class="red">{{ item }}</span> Deletion?
                </h1>
                <p class="price-box__people">
                    Click button to confirm {{ item }} {{ name }}<span class="blue">{{ id2 }}</span> deletion.
                </p>
                <form id="creation" class="form" action="/deleteproduct" method="POST">
                    <input type="hidden" id="hidden_id2" name="hidden_id2" value="{{ id2 }}">
                    <div class="price-box__btn">
                        <button type="submit" class="btn btn--purple btn--width">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}