{% extends "demo.html" %}
{% block title %}
    Delete Customer
{% endblock %}

{% block main %}
        <div class="sect sect--padding-bottom">
            <div class="container">
                <div class="row row--center">
                <div class="price-box__img"></div>
                <h1 class="price-box__title">
                    Confirm <span class="red">{{ item }}</span> Deletion?
                </h1>
                <p class="price-box__people">
                    Click button to confirm {{ item }} <span class="blue">{{ name }} - {{ id }}</span> deletion.
                </p>
                <form id="creation" class="form" action="/deletecustomer" method="POST">
                    <input type="hidden" id="hidden_name" name="hidden_name" value="{{ name }}">
                    <input type="hidden" id="hidden_id" name="hidden_id" value="{{ id }}">
                    <div class="price-box__btn">
                        <button type="submit" class="btn btn--purple btn--width">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}