{% extends "demo.html" %}
{% block title %}
    Delete Order
{% endblock %}

{% block main %}

        <div class="sect sect--padding-bottom">
            <div class="container">
                <div class="row row--center">
                <div class="price-box__img"></div>
                <h1 class="price-box__title">
                    Confirm <span class="red">{{ item }}</span> Deletion?
                </h1>
                <p class="price-box__people">
                    Click button to confirm {{ item }} <span class="blue">{{ id1 }}</span> deletion.
                </p>
                <form id="creation" class="form" action="/deleteorder" method="POST">
                    <input type="hidden" id="hidden1" name="hidden1" value="{{ id1 }}">
                    <input type="hidden" id="hidden2" name="hidden2" value="{{ id2 }}">
                    <input type="hidden" id="hidden3" name="hidden3" value="{{ date }}">
                    <div class="price-box__btn">
                        <button type="submit" class="btn btn--purple btn--width">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}