{% extends "demo.html" %}
{% block title %}
    Error {{ code }}
{% endblock %}

{% block main %}
        <div class="sect sect--padding-bottom">
            <div class="container">
                <div class="row row--center">
                    <h1 class="row__title">
                        Error <span class="red">{{ code }}</span>
                    </h1>
                    <h2 class="row__sub">{{ message }} - click demo to go back</h2>
                </div>
            </div>
        </div>
{% endblock %}