<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="https://image.ibb.co/fOur3b/favicon.png"/>
        <meta name="theme-color" content="#1885ed">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    
        <!-- Custom Stylesheet -->
        <link rel="stylesheet" href="/static/styles.css">
    
        <!-- jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
        <!-- Bootstrap JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>SmartLeather.io - Create</title>
    </head>    
    <body>
        <header class="header">
            <div class="container header__container">
                <div class="header__logo"><img class="header__img" src="https://image.ibb.co/kcVou6/path3000.png"> <h1 class="header__title">SmartLeather<span class="header__light">.io</span></h1></div> 
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
        
                <div class="header__menu">
                    <nav id="navbar" class="header__nav collapse">
                        <ul class="header__elenco">
                            <li class="header__el"><a href="#home" class="header__link">Home</a></li>
                            <li class="header__el"><a href="#" class="header__link">Pricing</a></li>
                            <li class="header__el"><a href="#" class="header__link">Success stories</a></li>
                            <li class="header__el"><a href="#" class="header__link">Blog</a></li>
                            <li class="header__el"><a href="#" class="header__link">Contact us</a></li>
                            <li class="header__el header__el--blue"><a href="/demo" class="btn btn--white">Demo →</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <div class="sect sect--padding-bottom">
            <div class="container">
                <div class="row row--center">
                <div class="price-box__img"></div>
                <h1 class="price-box__title">
                    New <span class="red">{{ item }}</span> Created
                </h1>
                <p class="price-box__people">
                    Click Copy button to copy <span class="blue">{{ id }}</span>
                </p>
                <form id="creation" class="form" action="/new" method="POST">
                    <input type="hidden" id="hidden" name="hidden" value="{{ id }}">
                    <div class="price-box__btn">
                        <button type="submit" class="btn btn--purple btn--width">Copy</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>