{% extends "demo.html" %}
{% block title %}
    Creation
{% endblock %}

{% block main %}

        <div class="sect sect--padding-bottom">
            <div class="container">
                <div class="row row--center">
                <h1 class="price-box__title">
                    New <span class="red">{{ item }}</span> Created
                </h1>
                <p class="price-box__people">
                    Click Copy button to copy {{ item }} ID: <span class="blue">{{ content }}</span>
                </p>
                <form id="creation" class="form" action="/product" method="POST">
                    <input type="hidden" id="hidden2" name="hidden2" value="{{ content }}">
                    <div class="site__box-link">
                        <button class="btn btn--revert btn--width" type="submit">Copy</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}